@page
@model Database_and_web_assignment.Pages.Course.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Courses[0].Course_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Courses) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Course_ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Course_ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Course_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
