@page
@model Database_and_web_assignment.Pages.Teacher.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Teachers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.Teacher_First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teachers.Teacher_First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.Teacher_Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teachers.Teacher_Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.Teacher_Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teachers.Teacher_Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.Teacher_Mobile_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teachers.Teacher_Mobile_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Teachers.Teacher_Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Teachers.Teacher_Address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Teachers.Teacher_ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
